body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .dartboard-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }
  
  .dartboard {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* animation: rotate 2s infinite linear;f */
  }
  
  .number {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  }
  
  .number:hover {
    background-color: #ddd;
  }


img{
    margin-left: 10px;
    margin-bottom: 100px;
    position: absolute;
    width: 300px;
    height: 300px;
    margin-bottom: 58px;
} 
  

.number:nth-child(1) { top: 7%; left: 50%; }
.number:nth-child(2) { top: 15%; left: 76%; }
.number:nth-child(3) { top: 37%; left: 92%; }
.number:nth-child(4) { top: 65%; left: 92%; }
.number:nth-child(5) { top: 85%; left: 75%; }
.number:nth-child(6) { top: 93%; left: 50%; }
.number:nth-child(7) { top: 85%; left: 25%; }
.number:nth-child(8) { top: 65%; left: 8%;}
.number:nth-child(9) { top: 37%; left: 8%;}
.number:nth-child(10) { top: 15%; left: 24%;}

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  input {
    font-size: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
  }
  