html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  font-family: "Gill Sans", sans-serif;
  background-color: #000000;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0px 55px 11px rgb(241 184 46), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

header {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.quotes {
  padding: 20px 50px;
  min-height: 200px;
}

.quote-text {
  padding-bottom: 20px;
  font-size: 25px;
  color: black;
}

.controls {
  width: 100%;
  padding: 20px 50px;
}

.button {
  font-family: "Gill Sans", sans-serif;
  display: block;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.twitter {
  background-color: #f1b82e;
  text-decoration: none;
  margin-bottom: 15px;
}

.twitter:hover {
  background-color: #966a00;
}

.new-quote {
  background-color: #2d66f2;
  margin-bottom: 15px;
}

.new-quote:hover {
  background-color: #012d7f;
}

.new-quote:disabled {
  background-color: #cccccc;
  color: #7e7e7e;
  cursor: not-allowed;
}

.hint {
  background-color: #2dc000;
  margin-bottom: 15px;
}

.hint:hover {
  background-color: #157f01;
}

@media screen and (max-width: 600px) {
  .app {
    width: 100%;
  }
  .quote-text {
    font-size: 18px;
  }
}