body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #73757d;
    color: #c9c9c9;
    font-family: Georgia, serif
}

nav{
/* height:50vh; */
margin-right: 200px;
margin-left: 200px;
display:flex;
flex-direction: row;
justify-content: space-around;
height:20px;
background-color: #2d66f2;
border-style: solid;
border-color:#f1b82e
    
}


nav a{
width:10vw;
text-align: center;
text-decoration: none;
color:#000000;

}

a:hover{
background-color:#c9c9c9;
}