


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #464749;
    color: #ffffff;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Snell Roundhand, cursive;
    text-align: center;
    font-size: 6em;
}



h2 {
    padding: 8em;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    background: linear-gradient(0deg, rgb(0 0 0), rgb(241 184 46 / 35%)), url("ColoradoSymphony.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-top: solid;
    border-bottom: solid;
    border-color: #f1b82e;
    /* box-shadow: inset 0 0 0 2000px black; */

    
}

scheduleHeader{
    padding: 0.5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    /* margin-left: 25%; */
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    background-color: black;
    border: solid;
    border-color:#f1b82e
    
    /* background: linear-gradient(0deg, rgb(0 0 0), rgb(241 184 46 / 35%)); */
     /* width: 50%; */
}

nav {
    margin: 0 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20px;
    background-color: #012d7f;
    border: solid #f1b82e;
    align-items: center;
}

nav a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    
}

nav a:hover {
    background-color: #c9c9c9;
    color: #000000;
}


img{
    width:200px;
    height: 200px;
    margin-bottom: 4%;
    filter: brightness(100);
    /* background-color: #464749; */
    
}

schedule {
    width: 85%;
}

.concert {
    background-color: #012d7f;
    margin: 1em 0;
    padding: 1em;
    border-radius: 8px;
}

.concert h3 {
    margin-bottom: 0.5em;
    color: #f1b82e;
    
}

.concert p, .concert ul {
    margin-bottom: 0.5em;
}

.concert ul {
    padding-left: 1em;
}


#bow{
    background-color: #35ff01;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation-name: bowPlaying;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


@media (max-width: 750px) {

    h1{
    display: inline-block;
    width: 100%;
    padding: 15px;
    border-bottom: solid;
    background-color: #000000;
    font-size: 2em;
    margin-top: 0%;
    text-align: center;
        position: fixed;
    
    }
    
    nav {
        /* position: sticky; */
        flex-direction: column;
        height: auto;
        margin: 10%;
        margin-top: 100px;
    }

    nav a {
        width: 100%;
        padding: 0.5em 0;
    }

    h2 {
    padding: 1em;
    text-align: center;
    font-size: 1em;
    }
    schedule {
        width: 100%;
        padding: 1em;
    }

    img{
        width:100px;
        height: 100px;
        margin-bottom: -4%
    }

    scheduleHeader{
        margin: 0;
        margin-top: 5%;
        border-right-style: none;
        border-left-style: none;
    }
}
