body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #73757d;
    color: #ffffff;
    font-family: Georgia, serif
}

h1{
padding: 0.4em;
text-align: center;
font-size: 3em;
    
    
}

h2{
padding: 1em;
text-align: center;
font-size: 1.5em;
    
    
}

nav{
/* height:50vh; */
margin-right: 200px;
margin-left: 200px;
display:flex;
flex-direction: row;
justify-content: space-around;
height:20px;
background-color: #2d66f2;
border-style: solid;
border-color:#f1b82e
    
}


nav a{
width:15vw;
text-align: center;
text-decoration: none;
color:#ffffff;

}

a:hover{
background-color:#c9c9c9;
}

.concert{
    margin-bottom: 2em;
}